In [28]:
import json
import pandas as pd
import numpy as np

In [58]:
with open('../JSON/AllPlayer/final/all_player2019.json', 'r') as loadFile:
    data = pd.DataFrame(json.load(loadFile))
with open('../JSON/MVP/MVP_2019.json', 'r') as loadFile:
    mvp = pd.DataFrame(json.load(loadFile))

In [56]:
data.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Team.Wins,Share,Year
1,Álex Abrines,SG,25,OKC,31.0,2.0,19.0,1.8,5.1,0.357,...,0.6,0.6,0.053,-2.4,-0.9,-3.4,-0.2,49.0,0,2019
10,Grayson Allen,SG,23,UTA,38.0,2.0,10.9,1.8,4.7,0.376,...,0.4,0.0,0.002,-3.7,-3.1,-6.8,-0.5,50.0,0,2019
100,Tyson Chandler,C,36,TOT,55.0,6.0,15.9,1.1,1.8,0.616,...,1.2,2.1,0.114,-3.1,1.8,-1.3,0.2,33.0,0,2019
101,Wilson Chandler,PF-SF,31,TOT,51.0,33.0,23.1,2.2,5.4,0.418,...,1.0,1.5,0.062,-1.3,0.3,-1.0,0.3,33.0,0,2019
102,Joe Chealey,PG,23,CHO,1.0,0.0,8.0,1.0,3.0,0.333,...,0.0,0.0,-0.080,-9.0,-8.2,-17.2,0.0,39.0,0,2019

In [69]:
win_map = {
  'MIL': 60,
  'TOR': 58,
  'PHI': 51,
  'BOS': 49,
  'IND': 48,
  'BRK': 42,
  'ORL': 42,
  'DET': 41,
  'CHO': 39,
  'MIA': 39,
  'WAS': 32,
  'ATL': 29,
  'CHI': 22,
  'CLE': 19,
  'NYK': 17,
  'GSW': 57,
  'DEN': 54,
  'POR': 53,
  'HOU': 53,
  'UTA': 50,
  'OKC': 49,
  'SAS': 48,
  'LAC': 48,
  'SAC': 39,
  'LAL': 37,
  'MIN': 36,
  'MEM': 33,
  'NOP': 33,
  'DAL': 33,
  'PHO': 19
}

In [31]:
temp = []
for win in win_map:
    temp.append(win_map[win])

In [32]:
win = pd.DataFrame(temp)
win.describe()

               0
count  30.000000
mean   41.000000
std    12.028701
min    17.000000
25%    33.000000
50%    41.500000
75%    49.750000
max    60.000000

In [60]:
a2019['Share'] = 0
a2019['Season'] = 2019
for mvp_index, mvp_row in mvp.iterrows():
    for data_index, data_row in a2019.iterrows():
        if mvp_row['Player'] == data_row['Player']:
            a2019.loc[data_index, 'Share'] = mvp_row['Share']

In [66]:
ori_data = pd.read_csv('../JSON/totals.csv')

In [79]:
ori_data.columns

Index(['Rk', 'Player', 'Season', 'MVP', 'First', 'Share', 'Pos', 'Age', 'Tm',
       'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA',
       '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS', 'Win_PCT'],
      dtype='object')

In [72]:
a2019.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Share,Season,Win_PCT
0,1,Álex Abrines,SG,25,OKC,31,2,588,56,157,...,0.6,0.6,.053,-2.4,-0.9,-3.4,-0.2,0.0,2019,49.0
1,2,Quincy Acy,PF,28,PHO,10,0,123,4,18,...,0.0,-0.1,-0.022,-5.7,-0.3,-5.9,-0.1,0.0,2019,19.0
2,3,Jaylen Adams,PG,22,ATL,34,1,428,38,110,...,0.2,0.1,.011,-3.1,-1.3,-4.4,-0.3,0.0,2019,29.0
3,4,Steven Adams,C,25,OKC,80,80,2669,481,809,...,4.0,9.1,.163,0.6,2.1,2.7,3.2,0.0,2019,49.0
4,5,Bam Adebayo,C,21,MIA,82,28,1913,280,486,...,3.4,6.8,.171,-0.6,3.6,3.0,2.4,0.0,2019,39.0

In [81]:
data.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PER', 'TS%',
       '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%',
       'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP',
       'Win_PCT', 'Share', 'Year'],
      dtype='object')

In [110]:
new_data.rename(columns={"Year": "Season"}, inplace=True)

In [176]:
ori_data = ori_data[['Player', 'Season', 'Tm', 'Win_PCT', 'Age', 'Pos', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Share']]

In [34]:
import requests
from bs4 import BeautifulSoup as BS

In [39]:
tol = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2019_totals.html')[0]
adv = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2019_advanced.html')[0]

In [48]:
tol.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [51]:
adv.columns

Index(['PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM',
       'BPM', 'VORP'],
      dtype='object')

In [49]:
adv = adv.drop(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'MP'], axis=1)

In [50]:
adv = adv.dropna(how='all', axis=1)

In [52]:
a2019 = pd.concat([tol, adv], axis=1, sort=False)

In [70]:
a2019['Win_PCT'] = a2019['Tm'].map(win_map)

In [90]:
a2019.columns

Index(['Player', 'Season', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA',
       'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA',
       'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM',
       'BPM', 'VORP', 'Win_PCT', 'Share'],
      dtype='object')

In [91]:
result.columns

Index(['Player', 'Season', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA',
       'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA',
       'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM',
       'BPM', 'VORP', 'Win_PCT', 'Share'],
      dtype='object')

In [88]:
cols = ['Player', 'Season', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%',
       'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP', 'Win_PCT', 'Share']

In [81]:
a2019['Win_PCT'] = a2019['Tm'].map(win_map)
a2019['Win_PCT'].fillna(value=win.quantile(.25)[0], inplace=True)

In [84]:
result = result.rename(columns={"FG.": "FG%", "X3P": "3P", "X3PA": "3PA", "X3P.": "3P%", "X2P": "2P", "X2PA": "2PA", "X2P.": "2P%",
                      "eFG.": "eFG%", "FT.": "FT%", "Team.Wins": "Win_PCT", "TS.": "TS%", "X3PAr": "3PAr", "ORB.": "ORB%",
                      "TRB.": "TRB%", "DRB.": "DRB%", "AST.": "AST%", "STL.": "STL%", "BLK.": "BLK%", "TOV.": "TOV%",
                       "USG.": "USG%", "WS.48": "WS/48"})

In [89]:
a2019 = a2019[cols]
result = result[cols]

In [94]:
final = pd.concat([a2019, result], ignore_index=True, sort=False)

In [100]:
final.tail()

,Player,Season,Pos,Age,Tm,G,GS,MP,FG,FGA,...,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Win_PCT,Share
6221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.1,0.4,0.5,0.043,-2.4,-2.3,-4.7,-0.4,NaN,NaN
6222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.8,0.9,1.7,0.059,-0.2,-3.4,-3.7,-0.6,NaN,NaN
6223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.3,3.2,5.5,0.101,0.1,1.4,1.5,2.3,NaN,NaN
6224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.1,0.6,-0.6,-0.034,-5.5,-0.3,-5.9,-0.8,NaN,NaN
6225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.5,0.5,1,0.118,-2.7,0.5,-2.2,0,NaN,NaN

In [168]:
# new_data.drop_duplicates(subset ="Player", keep = 'first', inplace = True)

In [169]:
# new_data = new_data[new_data['Player'] != 'Player']

In [98]:
with open('../JSON/temp.json', 'w') as file_object:
        save_file = final.to_dict()
        json.dump(save_file, file_object)

In [99]:
final.to_json(r'../JSON/a.json', orient="columns")

In [217]:
result = result.sort_values(['Season', 'Share', 'Player'], ascending=[True, False, True])
result = result.reset_index(drop=True)

In [219]:
with open('../JSON/a.json', 'r') as loadFile:
    temp = pd.DataFrame(json.load(loadFile))

In [220]:
temp.describe()

            Season      Win_PCT        Share
count  5520.000000  5520.000000  5520.000000
mean   2010.134420    40.945109     0.009217
std       5.993145    12.345970     0.074534
min    2000.000000     7.000000     0.000000
25%    2005.000000    33.000000     0.000000
50%    2010.000000    42.000000     0.000000
75%    2016.000000    50.000000     0.000000
max    2019.000000    73.000000     1.000000

In [221]:
temp.head()

,Player,Season,Tm,Win_PCT,Age,Pos,G,GS,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Share
0,Shaquille O'Neal,2000,LAL,67.0,27,C,79,79,3163,956,...,336,742,1078,299,36,239,223,255,2344,0.998
1,Kevin Garnett,2000,MIN,50.0,23,PF,81,81,3243,759,...,223,733,956,401,120,126,268,205,1857,0.337
10,Jason Kidd,2000,PHO,53.0,26,PG,67,67,2616,350,...,96,387,483,678,134,28,226,148,959,0.021
100,Eric Piatkowski,2000,LAC,15.0,29,SF,75,23,1712,238,...,74,148,222,81,44,13,57,140,654,0.000
1000,Tim Thomas,2003,MIL,42.0,25,SF,80,70,2358,412,...,97,292,389,102,70,49,133,257,1066,0.000

In [2]:
totals = pd.read_csv('../JSON/Backup/totals.csv')
advance = pd.read_csv('../JSON/Backup/advanced.csv')

In [17]:
totals.columns

Index(['Rk', 'Player', 'Season', 'MVP', 'First', 'Share', 'Pos', 'Age', 'Tm',
       'G', 'GS', 'MP', 'FG', 'FGA', 'FG.', 'X3P', 'X3PA', 'X3P.', 'X2P',
       'X2PA', 'X2P.', 'eFG.', 'FT', 'FTA', 'FT.', 'ORB', 'DRB', 'TRB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Team.Wins'],
      dtype='object')

In [19]:
advance.columns

Index(['PER', 'TS.', 'X3PAr', 'FTr', 'ORB.', 'DRB.', 'TRB.', 'AST.', 'STL.',
       'BLK.', 'TOV.', 'USG.', 'OWS', 'DWS', 'WS', 'WS.48', 'OBPM', 'DBPM',
       'BPM', 'VORP'],
      dtype='object')

In [18]:
advance = advance.drop(['Rk', 'Player', 'Season', 'MVP', 'First', 'Share', 'Pos', 'Age', 'Tm', 'G', 'MP', 'Team.Wins'], axis=1)

In [20]:
result = pd.concat([totals, advance], axis=1, sort=False)

In [21]:
result.head()

,Rk,Player,Season,MVP,First,Share,Pos,Age,Tm,G,...,TOV.,USG.,OWS,DWS,WS,WS.48,OBPM,DBPM,BPM,VORP
0,2.0,Shareef Abdur-Rahim,2000.0,False,0.0,0.0,SF,23.0,VAN,82.0,...,14.1,25.0,6.2,2.6,8.8,0.132,1.8,0.5,2.3,3.5
1,4.0,Ray Allen,2000.0,False,0.0,0.0,SG,24.0,MIL,82.0,...,10.3,25.6,9.0,1.0,10.1,0.157,5.0,-2.0,3.0,3.9
2,6.0,John Amaechi,2000.0,False,0.0,0.0,C,29.0,ORL,80.0,...,14.4,24.1,0.6,1.8,2.4,0.067,-2.7,-0.9,-3.6,-0.7
3,7.0,Derek Anderson,2000.0,False,0.0,0.0,SG,25.0,LAC,64.0,...,14.4,23.4,3.1,0.3,3.3,0.073,1.7,-1.9,-0.2,1.0
4,8.0,Kenny Anderson,2000.0,False,0.0,0.0,PG,29.0,BOS,82.0,...,10.6,20.5,5.4,1.9,7.3,0.136,2.6,-1.4,1.2,2.1

In [22]:
result.columns

Index(['Rk', 'Player', 'Season', 'MVP', 'First', 'Share', 'Pos', 'Age', 'Tm',
       'G', 'GS', 'MP', 'FG', 'FGA', 'FG.', 'X3P', 'X3PA', 'X3P.', 'X2P',
       'X2PA', 'X2P.', 'eFG.', 'FT', 'FTA', 'FT.', 'ORB', 'DRB', 'TRB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Team.Wins', 'PER', 'TS.', 'X3PAr',
       'FTr', 'ORB.', 'DRB.', 'TRB.', 'AST.', 'STL.', 'BLK.', 'TOV.', 'USG.',
       'OWS', 'DWS', 'WS', 'WS.48', 'OBPM', 'DBPM', 'BPM', 'VORP'],
      dtype='object')

In [101]:
result.isna().sum()

Player     502
Season     502
Pos        502
Age        502
Tm         502
G          502
GS         502
MP         502
FG         502
FGA        502
FG%        502
3P         502
3PA        502
3P%        502
2P         502
2PA        502
2P%        502
eFG%       502
FT         502
FTA        502
FT%        502
ORB        502
DRB        502
TRB        502
AST        502
STL        502
BLK        502
TOV        502
PF         502
PTS        502
PER          0
TS%          0
3PAr         0
FTr          0
ORB%         0
DRB%         0
TRB%         0
AST%         0
STL%         0
BLK%         0
TOV%         0
USG%         0
OWS          0
DWS          0
WS           0
WS/48        0
OBPM         0
DBPM         0
BPM          0
VORP         0
Win_PCT    502
Share      502
dtype: int64