In [20]:
import pandas as pd

In [21]:
adv = pd.read_csv('../JSON/Backup/advanced.csv')
tot = pd.read_csv('../JSON/Backup/totals.csv')

In [49]:
adv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5492 entries, 0 to 5491
Data columns (total 32 columns):
Rk           5492 non-null int64
Player       5492 non-null object
Season       5492 non-null int64
MVP          5492 non-null bool
First        5492 non-null int64
Share        5492 non-null float64
Pos          5492 non-null object
Age          5492 non-null int64
Tm           5492 non-null object
G            5492 non-null int64
MP           5492 non-null int64
PER          5492 non-null float64
TS.          5492 non-null float64
X3PAr        5492 non-null float64
FTr          5492 non-null float64
ORB.         5492 non-null float64
DRB.         5492 non-null float64
TRB.         5492 non-null float64
AST.         5492 non-null float64
STL.         5492 non-null float64
BLK.         5492 non-null float64
TOV.         5492 non-null float64
USG.         5492 non-null float64
OWS          5492 non-null float64
DWS          5492 non-null float64
WS           5492 non-null float64
WS.48        5492 non-null float64
OBPM         5492 non-null float64
DBPM         5492 non-null float64
BPM          5492 non-null float64
VORP         5492 non-null float64
Team.Wins    5492 non-null int64
dtypes: bool(1), float64(21), int64(7), object(3)
memory usage: 1.3+ MB

In [23]:
tot.describe()

,Rk,Season,First,Share,Age,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Team.Wins
count,4990.000000,4990.000000,4990.000000,4990.000000,4990.000000,4990.000000,4990.000000,4990.000000,4990.000000,4990.000000,...,4990.000000,4990.000000,4990.000000,4990.00000,4990.000000,4990.000000,4990.000000,4990.000000,4990.000000,4990.000000
mean,229.965932,2009.192786,0.451703,0.009675,26.672545,69.122445,37.928858,1773.576754,278.500200,615.485371,...,76.905611,223.422044,300.327655,167.25491,57.190982,33.597395,102.419439,148.395190,748.169138,41.054709
std,133.649957,5.522391,6.147611,0.076238,4.279355,11.264902,30.342601,725.754377,165.930101,352.678682,...,63.113410,138.060901,191.633377,144.47425,33.418065,37.088157,60.937746,57.635174,458.103443,12.456427
min,1.000000,2000.000000,0.000000,0.000000,19.000000,42.000000,0.000000,224.000000,10.000000,34.000000,...,1.000000,9.000000,16.000000,2.00000,3.000000,0.000000,2.000000,11.000000,29.000000,7.000000
25%,116.000000,2004.000000,0.000000,0.000000,23.000000,61.000000,7.000000,1206.000000,148.000000,340.000000,...,30.000000,124.000000,159.000000,65.00000,32.000000,10.000000,56.000000,105.000000,395.250000,32.000000
50%,227.000000,2009.000000,0.000000,0.000000,26.000000,72.000000,35.000000,1765.000000,247.000000,555.000000,...,56.000000,192.000000,254.000000,123.00000,50.000000,21.000000,90.000000,146.000000,656.500000,42.000000
75%,344.000000,2014.000000,0.000000,0.000000,30.000000,79.000000,69.000000,2336.000000,378.000000,829.000000,...,105.000000,289.000000,391.000000,222.00000,76.000000,42.000000,138.000000,189.000000,1012.000000,50.000000
max,540.000000,2018.000000,131.000000,1.000000,41.000000,82.000000,82.000000,3485.000000,978.000000,2173.000000,...,440.000000,894.000000,1247.000000,925.00000,225.000000,294.000000,464.000000,371.000000,2832.000000,73.000000

In [25]:
new = pd.merge(adv, tot, on=['Season', 'Player', 'Rk'])

In [105]:
tol_2019 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2019_totals.html')[0]

In [95]:
adv_2019 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2019_advanced.html')[0]

In [82]:
cols = ['Age', 'Tm', 'G', 'MP', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', ]

In [113]:
adv_2019.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'MP', 'PER', 'TS%', '3PAr',
       'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP'],
      dtype='object')

In [114]:
tol_2019.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [109]:
for col in tol_2019.columns:
    tol_2019[col] = tol_2019[col].astype('float64', errors='ignore')

In [120]:
new_2019['Season'] = 2019

In [137]:
new_2019.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'MP', 'PER', 'TS%', '3PAr',
       'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA',
       'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA',
       'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'Season', 'Share', 'Win_PCT'],
      dtype='object')

In [123]:
new_2019 = new_2019.drop(['Age_y', 'Tm_y', 'G_y', 'GS', 'MP_y'], axis=1)

In [128]:
new_2019.rename(columns={"Tm_x": "Tm"}, inplace=True)

In [131]:
import json
with open('../JSON/MVP/MVP_2019.json', 'r') as loadFile:
    mvp = pd.DataFrame(json.load(loadFile))

In [132]:
win_map = {
  'MIL': 60,
  'TOR': 58,
  'PHI': 51,
  'BOS': 49,
  'IND': 48,
  'BRK': 42,
  'ORL': 42,
  'DET': 41,
  'CHO': 39,
  'MIA': 39,
  'WAS': 32,
  'ATL': 29,
  'CHI': 22,
  'CLE': 19,
  'NYK': 17,
  'GSW': 57,
  'DEN': 54,
  'POR': 53,
  'HOU': 53,
  'UTA': 50,
  'OKC': 49,
  'SAS': 48,
  'LAC': 48,
  'SAC': 39,
  'LAL': 37,
  'MIN': 36,
  'MEM': 33,
  'NOP': 33,
  'DAL': 33,
  'PHO': 19
}

In [133]:
new_2019['Share'] = 0
for mvp_index, mvp_row in mvp.iterrows():
    for data_index, data_row in new_2019.iterrows():
        if mvp_row['Player'] == data_row['Player']:
            new_2019.loc[data_index, 'Share'] = mvp_row['Share']

In [135]:
new_2019['Win_PCT'] = new_2019['Tm'].map(win_map)
new_2019['Win_PCT'].fillna(value=33, inplace=True)

In [160]:
new.columns

Index(['Player', 'Season', 'Pos', 'Age', 'Tm', 'G', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PER',
       'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%',
       'VORP', 'Win_PCT', 'Share'],
      dtype='object')

In [161]:
new_2019.columns

Index(['Player', 'Season', 'Pos', 'Age', 'Tm', 'G', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PER',
       'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%',
       'VORP', 'Win_PCT', 'Share'],
      dtype='object')

In [158]:
cols = ['Player', 'Season', 'Pos', 'Age', 'Tm', 'G', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA',
       '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'VORP', 'Win_PCT', 'Share']

In [156]:
new.rename(columns={'MP_x': 'MP'}, inplace=True)

In [159]:
new = new[cols]
new_2019 = new_2019[cols]

In [166]:
frame = [new, new_2019]
result = pd.concat(frame)

In [169]:
result.isna().sum()

Player     0
Season     0
Pos        0
Age        0
Tm         0
G          0
MP         0
FG         0
FGA        0
FG%        0
3P         0
3PA        0
3P%        0
2P         0
2PA        0
2P%        0
eFG%       0
FT         0
FTA        0
FT%        0
ORB        0
DRB        0
TRB        0
AST        0
STL        0
BLK        0
TOV        0
PF         0
PTS        0
PER        0
TS%        0
3PAr       0
FTr        0
ORB%       0
DRB%       0
TRB%       0
AST%       0
STL%       0
BLK%       0
VORP       0
Win_PCT    0
Share      0
dtype: int64

In [165]:
new_2019.drop_duplicates(subset=['Player', 'Age'], keep='first', inplace=True)

In [170]:
with open('../JSON/new_mvp.json', 'w') as file_object:
            data = result.to_dict()
            json.dump(data, file_object)